<template>
  <div class="card question-show mb-3" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-3">{{ index + 1 }}. {{ question?.questionBody.text }}</h5>
      <div class="bd-content mb-2">
        <select
          v-if="question?.questionBody.optionType === 'DROPDOWNLIST'"
          class="form-select"
          @click.stop.prevent=""
        >
          <option
            :key="index"
            v-for="(option, index) in  question?.questionBody.options"
          >
            {{ option }}
          </option>
          <option v-if="question?.questionBody.hasOther">อื่น ๆ</option>
        </select>
        <ul
          v-else
          class="list-group list-group-flush"
        >
          <li
            :key="index"
            v-for="(option, index) in  question?.questionBody.options"
            class="list-group-item border-0"
          >
            <div class="form-check">
              <input
                v-if="question?.questionBody.optionType === 'CHECKBOX'"
                class="form-check-input"
                type="checkbox"
                :id="`option-${option}`"
                readonly
              >
              <input
                v-else
                class="form-check-input"
                type="radio"
                :id="`option-${option}`"
                readonly
              >
              <label class="form-check-label" :for="`option-${option}`">
                {{ option }}
              </label>
            </div>
          </li>
          <li v-if="question?.questionBody.hasOther" class="list-group-item border-0">
            <div class="form-check">
              <input
                v-if="question?.questionBody.optionType === 'CHECKBOX'"
                class="form-check-input"
                type="checkbox"
                id="option-other"
                readonly
              >
              <input
                v-else
                class="form-check-input"
                type="radio"
                id="option-other"
                readonly
              >
              <label class="form-check-label" for="option-other">
                อื่น ๆ
              </label>
            </div>
          </li>
        </ul>
        <div v-if="question?.required" class="mt-2">
          <span class="text-danger">* จำเป็นต้องตอบ</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./ChoiceShow.ts" lang="ts"></script>
<style src="./ChoiceShow.scss" lang="scss" scoped></style>