.question-show {
  border: none;

  .card-title {
    color: #664d03;
  }
  
  .form-control:read-only {
    background-color: white;
  }

  &:hover {
    background-color: #fcf4da;
    
    .bg-hover,
    .list-group-item,
    .form-control:read-only {
      background-color: #fffbef;
    }
  }
}
