<template>
  <div class="card question-show mb-3" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-3">{{ index + 1 }}. {{ question?.questionBody.text }}</h5>
      <div class="bd-content mb-2">
        <div class="bg-hover">
          <rating-input-component
            :level="question?.questionBody.level"
            :symbol="question?.questionBody.symbol"
            :showLabel="question?.questionBody.label.show"
            :startLabel="question?.questionBody.label.start"
            :endLabel="question?.questionBody.label.end"
            :disabled="true"
          />
        </div>
        <div v-if="question?.required" class="d-flex justify-content-center mt-2">
          <span class="text-danger">* จำเป็นต้องตอบ</span>
        </div>     
      </div>
    </div>
  </div>
</template>

<script src="./RatingShow.ts" lang="ts"></script>
<style src="./RatingShow.scss" lang="scss" scoped></style>