<template>
  <question-form-component
    :index="index"
    :isEditMode="isEditMode"
    @save="saveHandle"
    @cancel="cancelHandle"
    @remove="removeHandle"
    @moveUp="moveUpHandle"
    @moveDown="moveDownHandle"
  >
    <!-- Text -->
    <div class="input-group mb-3">
      <span class="input-group-text">
        <strong v-if="formData.id !== ''">{{ index + 1 }}</strong>
        <span v-else class="fa fa-asterisk"></span>
      </span>
      <input type="text"
        class="form-control"
        id="text"
        placeholder="กรุณาป้อนคำถาม..."
        autocomplete="off"
        v-model="formData.questionBody.text"
        :class="{'is-invalid': submited && errors.questionBody}"
        @change="dataChanged"
      >
    </div>
    <!-- Answer -->
    <div class="table-responsive">
      <table class="table bg-white">
        <thead class="table-light">
          <tr>
            <th style="width: 20%;">
              <div class="d-grid">
                <button
                  class="btn btn-outline-secondary"
                  :disabled="formData.questionBody.columns.length >= 8"
                  @click="addColumn"
                >
                  <span class="fa fa-plus"></span> เพิ่มตัวเลือก
                </button>
              </div>
            </th>
            <th
              :key="index"
              v-for="(column, index) in formData.questionBody.columns"
              :style="columnWidth"
            >
              <div class="option-item">
                <input
                  type="text"
                  class="form-control"
                  :value="column"
                  @input="formData.questionBody.columns[index] = $event.target.value"
                />
                <button class="btn text-danger" @click="removeColumn(index)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            :key="index"
            v-for="(row, index) in formData.questionBody.rows"
          >
            <td>
              <div class="option-item">
                <input
                  type="text"
                  class="form-control"
                  :value="row"
                  @input="formData.questionBody.rows[index] = $event.target.value"
                />
                <button class="btn text-danger" @click="removeRow(index)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </div>
            </td>
            <td
              :key="index"
              v-for="(column, index) in formData.questionBody.columns"
              class="text-center align-middle"
            >
              <input
                v-if="formData.questionBody.isCheckBox"
                class="form-check-input"
                type="checkbox"
                disabled
              >
              <input
                v-else
                class="form-check-input"
                type="radio"
                disabled
              >
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-grid">
                <button class="btn btn-outline-secondary" @click="addRow">
                  <span class="fa fa-plus"></span> เพิ่มตัววัด
                </button>
              </div>
            </td>
            <td
              :key="index"
              v-for="(column, index) in formData.questionBody.columns"
            >&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end mb-4">
      <div class="col-auto">
        <!-- IsCheckBox -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="isCheckBox"
            v-model="formData.questionBody.isCheckBox"
            @change="dataChanged"
          >
          <label class="form-check-label" for="isCheckBox">
            เลือกได้หลายข้อ
          </label>
        </div>
      </div>
      <div class="col-auto">
        <!-- Required -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            v-model="formData.required"
            @change="dataChanged"
          >
          <label class="form-check-label" for="required">
            จำเป็นต้องตอบ
          </label>
        </div>
      </div>
    </div>
  </question-form-component>
</template>

<script src="./LikertForm.ts" lang="ts"></script>
<style src="./LikertForm.scss" lang="scss" scoped></style>