.form-check-input {
  &:checked {
    background-color: #ffc107;
    border-color: #ffc107;
  }
}

.form-switch {
  .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffc107'/%3e%3c/svg%3e");

    &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffc107'/%3e%3c/svg%3e");
    }

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}

.option-item {
  position: relative;

  .form-control {
    padding-right: 35px;
  }

  .btn {
    position: absolute;
    display: none;
  }

  &:hover {
    .form-control {
      border-color: #ffc107;
    }

    .btn {
      display: block;
      top: 1px;
      right: 1px;
      z-index: 999;
      }
  }
}
