<template>
  <div class="wrapper">
    <div class="container">
      <loading-component  v-if="isLoading || !success" />  
      <div v-else class="card shadow-sm">
        <div class="card-header title-wrap" :title="questionnaire.title">
          <span class="fa fa-file-alt me-2"></span><strong>{{ questionnaire.title }}</strong>
        </div>
        <div class="card-body">
          <div class="row row-cols-auto justify-content-sm-end justify-content-center g-2">
            <div class="col">
              <button class="btn btn-light" @click="previewClick">
                <span class="far fa-eye me-1"></span> ดูตัวอย่าง
              </button>
            </div>
            <div class="col">
              <button class="btn btn-warning" @click="sendClick">
                <span class="far fa-paper-plane me-1"></span> ส่งแบบสอบถาม
              </button>
            </div>
          </div>

          <ul class="nav nav-tabs nav-fill mt-3" role="tablist">
            <li
              :key="index"
              v-for="(tab, index) in tabPanel.tabs"
              class="nav-item"
              role="presentation"
            >
              <button
                class="nav-link"
                :class="{'active': tabPanel.activeTab === index}"
                type="button"
                @click="tabClick(index)"
                role="tab"
              >
                <span :class="tab.icon"></span> {{ tab.text }}
              </button>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel">
              <keep-alive>
                <component :is="currentTabComponent"></component>
              </keep-alive>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <preview-component ref="previewModal" />
  <send-component ref="sendModal" />
</template>

<script src="./Questionnaire.ts" lang="ts"></script>
<style src="./Questionnaire.scss" lang="scss" scoped></style>
