.wrapper {
  padding: 10px;
}

.card {
  border-top: 4px solid #ffc107;

  .card-header {
    padding: 15px 30px;
  }

  .card-body {
    padding: 30px;
  }
}

.title-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-link {
  position: relative;
  top: 3px;
  color: #cc9a06;
  border-radius: 0px;

  &:hover {
    top: 3px;
    border-top: 1px solid #dee2e6;
  }

  &.active {
    top: 0px;
    border-top: 4px solid #ffc107;

    &:hover {
      cursor: default;
    }
  }
}


.tab-content {
  border: 1px solid #dee2e6;
  border-top: none;

  .tab-pane {
    padding: 20px;
  }
}