<template>
  <div class="panel">
    <questionnaire-form
      v-model:formData="formData"
      :errors="errors"
      :submited="submited"
      @dataChanged="clearSubmit"
    />
    <hr />
    <div class="d-flex justify-content-end mt-3">
      <button
        type="button"
        class="btn btn-secondary me-2"
        @click="cancelClick"
        :disabled="isLoading"
      >
        <span class="fa fa-ban"></span> ยกเลิก
      </button>
      <button
        type="button"
        class="btn btn-warning"
        @click="saveClick"
        :disabled="isLoading"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </div>
  </div>
</template>

<script src="./QuestionnaireEdit.ts" lang="ts"></script>
<style src="./QuestionnaireEdit.scss" lang="scss" scoped></style>