<template>
  <nav class="d-flex justify-content-between align-items-center">
    <span class="text-muted">จำนวน: {{ amount }} / {{ total }}</span>
    <ul class="pagination pagination-list">
      <li class="page-item" :class="{'disabled': currentPage === 1}">
        <button class="page-link navigation-link" @click="previousClick">ก่อนหน้า</button>
      </li>
      <li
        :key="page"
        v-for="page in pageList"
        class="page-item d-none d-sm-block"
        :class="{'active': currentPage === page}"
      >
        <span class="page-link" v-if="currentPage === page">{{ page }}</span>
        <button class="page-link" v-else @click="pageClick(page)">{{ page }}</button>
      </li>
      <li class="page-item" :class="{'disabled': currentPage >= maxPage}">
        <button class="page-link navigation-link" @click="nextClick">ถัดไป</button></li>
    </ul>
  </nav>
</template>

<script src="./Paginate.ts" lang="ts"></script>
<style src="./Paginate.scss" lang="scss" scoped></style>