.navigation-link {
  width: 80px;
}

.page-item {
  &.active {
    .page-link {
      color: black;
      background-color: #ffc107;
      border-color: #ffc107;

      &:hover {
        color: black;
      }
    }
  }

  &.disabled {
    .page-link {
      color: #6c757d;
    }
  }

  .page-link {
    color: #664d03;
    
    &:hover {
      color: #664d03;
    }
  }
}

.pagination-list {
  margin-bottom: 0px;
}
