<template>
  <question-form-component
    :index="index"
    :isEditMode="isEditMode"
    @save="saveHandle"
    @cancel="cancelHandle"
    @remove="removeHandle"
    @moveUp="moveUpHandle"
    @moveDown="moveDownHandle"
  >
    <!-- Text -->
    <div class="input-group mb-3">
      <span class="input-group-text">
        <strong v-if="formData.id !== ''">{{ index + 1 }}</strong>
        <span v-else class="fa fa-asterisk"></span>
      </span>
      <input type="text"
        class="form-control"
        placeholder="กรุณาป้อนคำถาม..."
        autocomplete="off"
        v-model="formData.questionBody.text"
        :class="{'is-invalid': submited && errors.questionBody}"
        @change="dataChanged"
      >
    </div>
    <!-- Answer -->
    <div class="row mb-3">
      <div class="col-lg-6">
        <ul class="list-group">
          <li
            :key="index"
            v-for="(option, index) in formData.questionBody.options"
            class="list-group-item option-item border-0 bg-transparent p-0"
          >
            <div class="input-group">
              <span
                class="input-group-text"
                v-if="formData.questionBody.optionType !== 'DROPDOWNLIST'"
              >
                <input
                  v-if="formData.questionBody.optionType === 'CHECKBOX'"
                  class="form-check-input"
                  type="checkbox"
                  disabled
                >
                <input
                  v-else
                  class="form-check-input"
                  type="radio"
                  disabled
                >
              </span>
              <input
                type="text"
                class="form-control"
                :value="option"
                @input="formData.questionBody.options[index] = $event.target.value"
              />
            </div>
            <button class="btn text-danger" @click="removeOption(index)">
              <span class="far fa-trash-alt"></span>
            </button>
          </li>
          <li
            v-if="formData.questionBody.hasOther"
            class="list-group-item border-0 bg-transparent p-0"
          >
            <div class="input-group">
              <span
                class="input-group-text"
                v-if="formData.questionBody.optionType !== 'DROPDOWNLIST'"
              >
                <input
                  v-if="formData.questionBody.optionType === 'CHECKBOX'"
                  class="form-check-input"
                  type="checkbox"
                  disabled
                >
                <input
                  v-else
                  class="form-check-input"
                  type="radio"
                  disabled
                >
              </span>
              <input type="text" class="form-control" value="อื่น ๆ" disabled />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- AddOption & OptionType -->
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-outline-secondary" @click="addOption">
            <span class="fa fa-plus"></span> เพิ่มตัวเลือก
          </button>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-auto col-form-label">
              รูปแบบตัวเลือก:
            </label>
            <div class="col d-flex align-items-center">
              <select v-model="formData.questionBody.optionType" class="form-select">
                <option
                  :key="index"
                  v-for="(optionType, index) in optionTypes"
                  :value="optionType.value"
                >
                  {{ optionType.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mb-4">
      <div class="col-auto">
        <!-- HasOther -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="hasOther"
            v-model="formData.questionBody.hasOther"
            @change="dataChanged"
          >
          <label class="form-check-label" for="hasOther">
            ตัวเลือก "อื่น ๆ"
          </label>
        </div>
      </div>
      <div class="col-auto">
        <!-- Required -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            v-model="formData.required"
            @change="dataChanged"
          >
          <label class="form-check-label" for="required">
            จำเป็นต้องตอบ
          </label>
        </div>
      </div>
    </div>
  </question-form-component>
</template>

<script src="./ChoiceForm.ts" lang="ts"></script>
<style src="./ChoiceForm.scss" lang="scss" scoped></style>