<template>
  <question-form-component
    :index="index"
    :isEditMode="isEditMode"
    @save="saveHandle"
    @cancel="cancelHandle"
    @remove="removeHandle"
    @moveUp="moveUpHandle"
    @moveDown="moveDownHandle"
  >
    <!-- Text -->
    <div class="input-group mb-3">
      <span class="input-group-text">
        <strong v-if="formData.id !== ''">{{ index + 1 }}</strong>
        <span v-else class="fa fa-asterisk"></span>
      </span>
      <input type="text"
        class="form-control"
        placeholder="กรุณาป้อนคำถาม..."
        autocomplete="off"
        v-model="formData.questionBody.text"
        :class="{'is-invalid': submited && errors.questionBody}"
        @change="dataChanged"
      >
    </div>
    <!-- Answer -->
    <div class="mb-3">
      <div class="input-group mb-2 mt-0">
        <input :type="formData.questionBody.isTime ? 'time' : 'date'"
          class="form-control"
          readonly
        >
        <span class="input-group-text text-nt">
          <span class="far" :class="formData.questionBody.isTime ? 'fa-clock' : 'fa-calendar-alt'"></span>
        </span>
      </div>
    </div>
    <div class="row justify-content-end mb-4">
      <div class="col-auto">
        <!-- IsTime -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="isTime"
            v-model="formData.questionBody.isTime"
            @change="dataChanged"
          >
          <label class="form-check-label" for="isTime">
            คำตอบแบบเวลา
          </label>
        </div>
      </div>
      <div class="col-auto">
        <!-- Required -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            v-model="formData.required"
            @change="dataChanged"
          >
          <label class="form-check-label" for="required">
            จำเป็นต้องตอบ
          </label>
        </div>
      </div>
    </div>
  </question-form-component>
</template>

<script src="./DatetimeForm.ts" lang="ts"></script>
<style src="./DatetimeForm.scss" lang="scss" scoped></style>