<template>
  <modal-component ref="profileModal">
    <template v-slot:title>
      <span class="fa fa-user"></span> ข้อมูลผู้ใช้งาน
    </template>
    <template v-slot:default>
      <div class="row px-3">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img class="profile-image shadow-sm" src="../../assets/images/user.png" alt="user" />
        </div>
        <div class="col-8">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="fw-bold">ชื่อ-นามสกุล:</div>
              <div class="d-flex justify-content-end text-nt">
                {{ profile?.firstName }} {{ profile?.lastName }}
              </div>       
            </li>
            <li class="list-group-item">
              <div class="fw-bold">อีเมล:</div>
              <div class="d-flex justify-content-end text-nt">
                {{ profile?.email }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="fw-bold">สิทธิ์การใช้งาน:</div>
              <div class="d-flex justify-content-end">
                <span
                  class="badge bg-warning text-dark rounded-pill ms-1"
                  v-for="role in profile?.roles" :key="role"
                >
                  {{ role }}
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" @click="hideModal">
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button type="button" class="btn btn-warning" @click="editClick">
        <span class="fa fa-user-edit"></span> แก้ไข
      </button>
    </template>
  </modal-component>
</template>

<script src="./Profile.ts" lang="ts"></script>
<style src="./Profile.scss" lang="scss" scoped></style>