<template>
  <question-form-component
    :index="index"
    :isEditMode="isEditMode"
    @save="saveHandle"
    @cancel="cancelHandle"
    @remove="removeHandle"
    @moveUp="moveUpHandle"
    @moveDown="moveDownHandle"
  >
    <!-- Text -->
    <div class="input-group mb-3">
      <span class="input-group-text">
        <strong v-if="formData.id !== ''">{{ index + 1 }}</strong>
        <span v-else class="fa fa-asterisk"></span>
      </span>
      <input type="text"
        class="form-control"
        placeholder="กรุณาป้อนคำถาม..."
        autocomplete="off"
        v-model="formData.questionBody.text"
        :class="{'is-invalid': submited && errors.questionBody}"
        @change="dataChanged"
      >
    </div>
    <!-- Answer -->
    <div class="mb-3">
      <div class="bg-light">
        <rating-input-component
          :level="formData.questionBody.level"
          :symbol="formData.questionBody.symbol"
          :showLabel="formData.questionBody.label.show"
          :startLabel="formData.questionBody.label.start"
          :endLabel="formData.questionBody.label.end"
          :disabled="true"
        />
      </div>
    </div>
    <!-- Level & Symbol -->
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="col-auto col-form-label">
              ระดับคะแนน: {{ formData.questionBody.level }}
            </label>
            <div class="col d-flex align-items-center">
              <input
                type="range"
                class="form-range"
                min="1"
                max="10"
                step="1"
                v-model.number="formData.questionBody.level"
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-auto col-form-label">
              สัญลักษณ์:
            </label>
            <div class="col d-flex align-items-center">
              <select v-model="formData.questionBody.symbol" class="form-select">
                <option
                  :key="index"
                  v-for="(symbol, index) in symbols"
                  :value="symbol.value"
                >
                  {{ symbol.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Label -->
    <div v-if="formData.questionBody.label.show" class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label for="start" class="col-auto col-form-label rating-label">
              เริ่มต้น:
            </label>
            <div class="col d-flex align-items-center">
              <input
                type="text"
                class="form-control"
                v-model="formData.questionBody.label.start"
                @change="dataChanged"
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label for="end" class="col-auto col-form-label rating-label">
              ลงท้าย:
            </label>
            <div class="col d-flex align-items-center">
              <input
                type="text"
                class="form-control"
                v-model="formData.questionBody.label.end"
                @change="dataChanged"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mb-4">
      <div class="col-auto">
        <!-- ShowLabel -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="showLabel"
            v-model="formData.questionBody.label.show"
            @change="dataChanged"
          >
          <label class="form-check-label" for="showLabel">
            แสดงป้ายกำกับ
          </label>
        </div>
      </div>
      <div class="col-auto">
        <!-- Required -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            v-model="formData.required"
            @change="dataChanged"
          >
          <label class="form-check-label" for="required">
            จำเป็นต้องตอบ
          </label>
        </div>
      </div>
    </div>  
  </question-form-component>
</template>

<script src="./RatingForm.ts" lang="ts"></script>
<style src="./RatingForm.scss" lang="scss" scoped></style>