<template>
  <component
    :is="questionComponent"
    :question="question"
    :index="index"
    @toggle="toggleHandle"
  >
  </component>
</template>

<script src="./Textbox.ts" lang="ts"></script>
<style src="./Textbox.scss" lang="scss" scoped></style>