<template>
  <modal-component
    ref="userFormModal"
    backdrop="static"
    @hide="clearForm"
  >
    <template v-slot:title>
      <span class="fa fa-user"></span> {{ isEditMode ? 'แก้ไขข้อมูลผู้ใช้งาน' : 'เพิ่มผู้ใช้งาน' }}
    </template>
    <template v-slot:default>
      <div class="px-3">
        <!-- username -->
        <div v-if="!isEditMode" class="mb-3">
          <label
            for="username"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.username}"
          >
            ชื่อผู้ใช้งาน:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.username"
          >
            * กรุณาป้อนชื่อผู้ใช้งาน
          </div>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-user"></span></span>
            <input
              type="text"
              id="username"
              v-model.trim="formData.username"
              class="form-control"
              placeholder="กรุณาป้อนชื่อผู้ใช้งาน..."
              aria-label="username"
              autocomplete="off"
              :class="{'is-invalid': submited && errors.username}"
              @change="clearSubmit"
            />
          </div>
        </div>
        <!-- password -->
        <div v-if="!isEditMode" class="mb-3">
          <label for="password" class="form-label text-muted">
            รหัสผ่านเริ่มต้น:
          </label>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="text"
              id="password"
              v-model.trim="formData.password"
              class="form-control"
              placeholder="กรุณาป้อนชื่อรหัสผ่าน..."
              aria-label="password"
              readonly="true"
            />
          </div>
        </div>
        <!-- firstName -->
        <div class="mb-3">
          <label
            for="firstName"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.firstName}"
          >
            ชื่อจริง:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.firstName"
          >
            * กรุณาป้อนชื่อจริง
          </div>
          <input
            type="text"
            id="firstName"
            v-model.trim="formData.firstName"
            class="form-control"
            placeholder="กรุณาป้อนชื่อจริง..."
            aria-label="firstName"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.firstName}"
            @change="clearSubmit"
          />
        </div>
        <!-- lastName -->
        <div class="mb-3">
          <label
            for="lastName"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.lastName}"
          >
            นามสกุล:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.lastName"
          >
            * กรุณาป้อนนามสกุล
          </div>
          <input
            type="text"
            id="lastName"
            v-model.trim="formData.lastName"
            class="form-control"
            placeholder="กรุณาป้อนนามสกุล..."
            aria-label="lastName"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.lastName}"
            @change="clearSubmit"
          />
        </div>
        <!-- email -->
        <div class="mb-3">
          <label
            for="email"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.email}"
          >
            อีเมล:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.email"
          >
            * กรุณาป้อนอีเมล
          </div>
          <input
            type="email"
            id="email"
            v-model.trim="formData.email"
            class="form-control"
            placeholder="กรุณาป้อนอีเมล..."
            aria-label="email"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.email}"
            @change="clearSubmit"
          />
        </div>
        <div class="row">
          <div class="col-6">
            <!-- isAdmin -->
            <div class="mb-3">
              <label for="isAdmin" class="form-label text-muted">
                สิทธิ์การใช้งาน:
              </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isAdmin"
                  v-model="formData.isAdmin"
                  @change="clearSubmit"
                >
                <label class="form-check-label" for="isAdmin">
                  {{ (formData.isAdmin) ? 'แอดมิน (สิทธิ์จัดการผู้ใช้งาน)' : 'แอดมิน' }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-6" v-if="isEditMode">
            <!-- active -->
            <div class="mb-3">
              <label for="active" class="form-label text-muted">
                สถานะการใช้งาน:
              </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="active"
                  v-model="formData.active"
                  @change="clearSubmit"
                >
                <label class="form-check-label" for="active">
                  {{ (formData.active) ? 'ปกติ' : 'ระงับการใช้งานระบบ' }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="isLoading"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button
        type="button"
        class="btn btn-warning"
        :disabled="isLoading"
        @click="saveClick"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </template>
  </modal-component>
</template>

<script src="./UserForm.ts" lang="ts"></script>
<style src="./UserForm.scss" lang="scss" scoped></style>