<template>
  <modal-component
    ref="profileFormModal"
    backdrop="static"
    @hide="clearForm"
  >
    <template v-slot:title>
      <span class="fa fa-user-edit"></span> แก้ไขข้อมูลส่วนตัว
    </template>
    <template v-slot:default>
      <div class="px-3">
        <!-- firstName -->
        <div class="mb-3">
          <label
            for="firstName"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.firstName}"
          >
            ชื่อจริง:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.firstName"
          >
            * กรุณาป้อนชื่อจริง
          </div>
          <input
            type="text"
            id="firstName"
            v-model.trim="formData.firstName"
            class="form-control"
            placeholder="กรุณาป้อนชื่อจริง..."
            aria-label="firstName"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.firstName}"
            @change="clearSubmit"
          />
        </div>
        <!-- lastName -->
        <div class="mb-3">
          <label
            for="lastName"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.lastName}"
          >
            นามสกุล:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.lastName"
          >
            * กรุณาป้อนนามสกุล
          </div>
          <input
            type="text"
            id="lastName"
            v-model.trim="formData.lastName"
            class="form-control"
            placeholder="กรุณาป้อนนามสกุล..."
            aria-label="lastName"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.lastName}"
            @change="clearSubmit"
          />
        </div>
        <!-- email -->
        <div class="mb-3">
          <label
            for="email"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.email}"
          >
            อีเมล:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.email"
          >
            * กรุณาป้อนอีเมล
          </div>
          <input
            type="email"
            id="email"
            v-model.trim="formData.email"
            class="form-control"
            placeholder="กรุณาป้อนอีเมล..."
            aria-label="email"
            autocomplete="off"
            :class="{'is-invalid': submited && errors.email}"
            @change="clearSubmit"
          />
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="isLoading"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button
        type="button"
        class="btn btn-warning"
        :disabled="isLoading"
        @click="saveClick"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </template>
  </modal-component>
</template>

<script src="./ProfileForm.ts" lang="ts"></script>
<style src="./ProfileForm.scss" lang="scss" scoped></style>