<template>
  <component
    :is="addQuestionComponent"
    @selected="addQuestionClick"
    @toggle="toggleHandle"
  >
  </component>
</template>

<script src="./QuestionNew.ts" lang="ts"></script>
<style src="./QuestionNew.scss" lang="scss" scoped></style>