<template>
  <!-- Name -->
  <div class="mb-3">
    <label
      for="title"
      class="form-label text-muted"
      :class="{'is-invalid': submited && errors.title}"
    >
      แบบสอบถามเรื่อง:
    </label>
    <div
      class="invalid-feedback d-inline"
      role="alert"
      v-if="submited && errors.title"
    >
      * กรุณาป้อนชื่อเรื่อง
    </div>
    <input type="text"
      class="form-control"
      id="title"
      placeholder="กรุณาป้อนชื่อเรื่อง..."
      v-model.trim="formData.title"
      autocomplete="off"
      :class="{'is-invalid': submited && errors.title}"
      @change="dataChanged"
    >
  </div>
  <!-- Intro -->
  <div class="mb-3">
    <label
      for="description"
      class="form-label text-muted"
      :class="{'is-invalid': submited && errors.description}"
    >
      คำอธิบาย:
    </label>
    <div
      class="invalid-feedback d-inline"
      role="alert"
      v-if="submited && errors.description"
    >
      * กรุณาป้อนคำอธิบาย
    </div>
    <textarea
      class="form-control"
      id="description"
      rows="8"
      placeholder="กรุณาป้อนคำอธิบาย..."
      v-model.trim="formData.description"
      :class="{'is-invalid': submited && errors.description}"
      @change="dataChanged"
    ></textarea>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- releaseAt -->
      <div class="mb-3">
        <label
          for="releaseAt"
          class="form-label text-muted"
          :class="{'is-invalid': submited && errors.releaseAt}"
        >
          วันที่เริ่มต้นการเก็บข้อมูล:
        </label>
        <div
          class="invalid-feedback d-inline"
          role="alert"
          v-if="submited && errors.releaseAt"
        >
          * กรุณาป้อนวันที่เริ่มต้นการเก็บข้อมูล
        </div>
        <div class="input-group mb-2 mt-0">
          <input
            type="date"
            id="releaseAt"
            class="form-control"
            aria-label="releaseAt"
            :value="(formData.releaseAt) ? formData.releaseAt.toJSON().substring(0, 10) : ''"
            @input="formData.releaseAt = $event.target.valueAsDate"
            :class="{'is-invalid': submited && errors.releaseAt}"
            @change="dataChanged"
          />
          <span class="input-group-text text-nt"><span class="far fa-calendar-alt"></span></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <!-- dueAt -->
      <div class="mb-3">
        <label
          for="dueAt"
          class="form-label text-muted"
          :class="{'is-invalid': submited && errors.dueAt}"
        >
          วันที่สิ้นสุดการเก็บข้อมูล:
        </label>
        <div
          class="invalid-feedback d-inline"
          role="alert"
          v-if="submited && errors.dueAt"
        >
          * วันที่สิ้นสุดต้องมากกว่าวันที่เริ่มต้น
        </div>
        <div class="input-group mb-2 mt-0">
          <input
            type="date"
            id="dueAt"
            class="form-control"
            aria-label="dueAt"
            :value="(formData.dueAt) ? formData.dueAt.toJSON().substring(0, 10) : ''"
            @input="formData.dueAt = $event.target.valueAsDate"
            :class="{'is-invalid': submited && errors.dueAt}"
            @change="dataChanged"
          />
          <span class="input-group-text text-nt"><span class="far fa-calendar-alt"></span></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./QuestionnaireForm.ts" lang="ts"></script>
<style src="./QuestionnaireForm.scss" lang="scss" scoped></style>