<template>
  <modal-component
    ref="resetPasswordModal"
    backdrop="static"
    @hide="clearForm"
  >
    <template v-slot:title>
      <span class="fa fa-user-lock"></span> รีเซ็ตรหัสผ่าน
    </template>
    <template v-slot:default>
      <div class="px-3">
        <!-- password -->
        <div class="mb-3">
          <label for="password" class="form-label text-muted">
            ตั้งรหัสผ่านใหม่เป็นค่าเริ่มต้น:
          </label>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="text"
              id="password"
              v-model.trim="formData.password"
              class="form-control"
              placeholder="กรุณาป้อนชื่อรหัสผ่าน..."
              aria-label="password"
              readonly="true"
            />
          </div>
        </div>
        <!-- secret admin password -->
        <div class="mb-3">
          <label
            for="secretPassword"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.secretPassword}"
          >
            รหัสผ่านของ secret admin:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.secretPassword"
          >
            * กรุณาป้อนรหัสผ่านของ secret admin
          </div>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="password"
              id="secretPassword"
              v-model.trim="formData.secretPassword"
              class="form-control"
              placeholder="กรุณาป้อนรหัสผ่านของ secret admin..."
              aria-label="secretPassword"
              autocomplete="off"
              :class="{'is-invalid': submited && errors.secretPassword}"
              @change="clearSubmit"
            />
          </div>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="isLoading"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button
        type="button"
        class="btn btn-warning"
        :disabled="isLoading"
        @click="submitClick"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </template>
  </modal-component>
</template>

<script src="./UserReset.ts" lang="ts"></script>
<style src="./UserReset.scss" lang="scss" scoped></style>