.hover-row {
  cursor: pointer;

  > td.text-warning {
    font-weight: bold;
    color: #cc9a06 !important;
  }

  &:hover {
    .delete-user {
      text-decoration: underline;
    }
  }
}

.table {
  th,
  td {
    padding: 12px 8px;

    .cell-item {
      display: block;
      width: 100%;
      padding: 0;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
    }
  }
}
