<template>
  <div class="row mb-4">
    <div class="col">
      <div class="input-group">
        <span class="input-group-text"><span class="fa fa-filter"></span></span>
        <input
          type="text"
          id="search"
          class="form-control"
          placeholder="ค้นหา..."
          aria-label="Search"
          autocomplete="off"
          v-model.trim="filter.keyword"
        />
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-warning" @click="newUserClick">
        <span class="fa fa-user-plus"></span> เพิ่มผู้ใช้งาน
      </button>
    </div>
  </div>
  <div class="table-responsive mb-3">
    <table class="table primary table-striped table-hover">
      <thead class="table-warning">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ชื่อผู้ใช้</th>
          <th scope="col">ชื่อ-นามสกุล</th>
          <th scope="col">อีเมล</th>
          <th scope="col">สิทธิ์การใช้งาน</th>
          <th scope="col">สถานะ</th>
          <th scope="col" v-if="isSecretAdmin">
            <span class="fa fa-cog"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Empty -->
        <tr v-if="display.length === 0">
          <td colspan="7" class="text-danger text-center">
            <span class="fa fa-exclamation-triangle"></span> ไม่พบข้อมูล
          </td>
        </tr>
        <!-- Data -->
        <tr
          class="hover-row"
          v-else
          :key="index"
          v-for="(user, index) in display"
          @click="editUserClick(user.id)"
        >
          <th scope="row">
            <span>{{ (page.current - 1) * page.size + index + 1 }}.</span>
          </th>
          <td v-if="user.active" class="text-warning">
            <span class="fa fa-user me-2"></span>{{ user.username }}
          </td>
          <td v-else>
            <button class="cell-item text-danger" @click.stop="deleteUserClick(user.id)">
              <span class="fa fa-user-times me-1"></span><span class="delete-user">ลบผู้ใช้งาน</span>
            </button>
          </td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="badge bg-warning text-dark rounded-pill me-1" v-for="role in user.roles" :key="role">
              {{ role }}
            </span>
          </td>
          <td>
            <span class="badge bg-success rounded-pill" v-if="user.active">ปกติ</span>
            <span class="badge bg-danger rounded-pill" v-else>ระงับ</span>
          </td>
          <td v-if="isSecretAdmin">
            <button
              class="cell-item text-danger"
              title="รีเซ็ตรหัสผ่านเป็นค่าเริ่มต้น"
              v-if="user.passwordChanged && user.active"
              @click.stop="resetPasswordClick(user.id)"
            >
              <span class="fa fa-sync"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginate -->
  <paginate-component
    :pageSize="page.size"
    :amount="filter.amount"
    :total="filter.total"
    @currentPageChange="selectedPage"
  />

  <!-- Modal -->
  <user-form-component
    ref="userFormComponent"
    :userId="selectedUserId"
  />
  <user-reset-component
    ref="userResetComponent"
    :userId="selectedUserId"
  />
</template>

<script src="./UserTable.ts" lang="ts"></script>
<style src="./UserTable.scss" lang="scss" scoped></style>