<template>
  <question-form-component
    :index="index"
    :isEditMode="isEditMode"
    @save="saveHandle"
    @cancel="cancelHandle"
    @remove="removeHandle"
    @moveUp="moveUpHandle"
    @moveDown="moveDownHandle"
  >
    <!-- Text -->
    <div class="input-group mb-3">
      <span class="input-group-text">
        <strong v-if="formData.id !== ''">{{ index + 1 }}</strong>
        <span v-else class="fa fa-asterisk"></span>
      </span>
      <input type="text"
        class="form-control"
        placeholder="กรุณาป้อนคำถาม..."
        autocomplete="off"
        v-model="formData.questionBody.text"
        :class="{'is-invalid': submited && errors.questionBody}"
        @change="dataChanged"
      >
    </div>
    <!-- Answer -->
    <div class="mb-3">
      <textarea 
        v-if="formData.questionBody.isTextArea"
        class="form-control"
        placeholder="ข้อความคำตอบแบบยาว"
        rows="3"
        readonly
      ></textarea>
      <input type="text"
        v-else
        class="form-control"
        placeholder="ข้อความคำตอบสั้น ๆ"
        readonly
      >
    </div>
    <div class="row justify-content-end mb-4">
      <div class="col-auto">
        <!-- IsTextArea -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="isTextArea"
            v-model="formData.questionBody.isTextArea"
            @change="dataChanged"
          >
          <label class="form-check-label" for="isTextArea">
            คำตอบแบบยาว
          </label>
        </div>
      </div>
      <div class="col-auto">
        <!-- Required -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="required"
            v-model="formData.required"
            @change="dataChanged"
          >
          <label class="form-check-label" for="required">
            จำเป็นต้องตอบ
          </label>
        </div>
      </div>
    </div>
  </question-form-component>
</template>

<script src="./TextboxForm.ts" lang="ts"></script>
<style src="./TextboxForm.scss" lang="scss" scoped></style>