<template>
  <background-component>
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="card shadow-sm">
        <div class="card-body p-5">
          <h1 class="display-5 text-title">404</h1>
          <h4 class="pt-3">เกิดข้อผิดพลาด!</h4>
          <p class="text-muted float-left">
            ไม่พบหน้าที่คุณเรียกใช้งาน
            กรุณาตรวจสอบที่อยู่ใหม่อีกครั้ง
          </p>
          <a href="javascript:void(0)" @click.stop.prevent="$router.go(-1)">Go Back</a>
        </div>
      </div>
    </div>
  </background-component>
</template>

<script src="./NotFound.ts" lang="ts"></script>
<style src="./NotFound.scss" lang="scss" scoped></style>