<template>
  <div aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li
        v-if="breadcrumbs.length === 1"
        class="breadcrumb-item navbar-text"
      >
        <span class="active">
          <span class="fa fa-home"></span> หน้าหลัก
        </span>
      </li>
      <li 
        v-else
        class="breadcrumb-item navbar-text"
        :key="index"
        v-for="(route, index) in breadcrumbs"
      >
        <span class="active" v-if="route.active" v-html="route.display"></span>
        <router-link v-else v-html="route.display" :to="route.link"></router-link>
      </li>
    </ol>
  </div>
</template>

<script src="./Breadcrumb.ts" lang="ts"></script>
<style src="./Breadcrumb.scss" lang="scss" scoped></style>