<template>
  <loading-component v-if="isLoading" />
  <div v-else>
    <header-component :profileLoaded="success">
      <span class="fa fa-poll-h"></span> แบบสำรวจด้านการตลาด
    </header-component>
    <router-view></router-view>
  </div>
</template>

<script src="./Layout.ts" lang="ts"></script>
<style src="./Layout.scss" lang="scss" scoped></style>