.panel {
  border-top: 4px solid #ffc107;
  background-color: #f4f4f4;
  padding: 20px;
}

.btn-action {
  color: #cc9a06;

  &:disabled {
    color: #6a6c6f
  }

  &:hover {
    color: #ffc107;
  }
}
