<template>
  <div class="panel mb-3">
    <!-- Action Buttons -->
    <div class="row justify-content-end mb-3">
      <div class="col-auto">
        <button
          class="btn btn-action"
          @click="removeClick"
          :disabled="isLoading || !isEditMode"
        >
          <span class="far fa-trash-alt"></span>
        </button>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-action"
          @click="moveUpClick"
          :disabled="isLoading || !isEditMode || index === 0"
        >
          <span class="fa fa-arrow-up"></span>
        </button>  
      </div>
      <div class="col-auto">
        <button
          class="btn btn-action"
          @click="moveDownClick"
          :disabled="isLoading || !isEditMode || index === questionLength - 1"
        >
          <span class="fa fa-arrow-down"></span>
        </button>
      </div>
    </div>

    <!-- Form -->
    <slot></slot>
    <hr />

    <!-- Control -->
    <div class="d-flex justify-content-end mt-3">
      <button
        type="button"
        class="btn btn-secondary me-2"
        @click="cancelClick"
        :disabled="isLoading"
      >
        <span class="fa fa-ban"></span> ยกเลิก
      </button>
      <button
        type="button"
        class="btn btn-warning"
        @click="saveClick"
        :disabled="isLoading"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </div>
  </div>
</template>

<script src="./QuestionForm.ts" lang="ts"></script>
<style src="./QuestionForm.scss" lang="scss" scoped></style>
