.rating-input {
  .rating-label {
    width: 32px;

    .active {
      color: #ffc107;
    }
  }

  &:hover {
    .col-auto {
      span {
        cursor: pointer;
        color: #ffc107;
      }

      &:hover {
        ~ .col-auto {
          span {
            color: #2c3e50;
            font-weight: 400;
          }
        }
      }
    }
  }

  &.disabled {
    .col-auto {
      span {
        cursor: default;
        color: #ced4da;
      }

      &:hover {
        ~ .col-auto {
          span {
            color: #ced4da;
          }
        }
      }
    }
  }
}
