<template>
  <div
    class="row justify-content-center rating-input mx-1 p-2"
    :class="{'disabled': disabled}"
  >
    <div v-if="showLabel" class="col-auto d-flex align-items-center">
      {{ startLabel }}
    </div>
    <div
      :key="n"
      v-for="n in level"
      class="col-auto"
    >
      <div>
        <div class="d-flex justify-content-center rating-label">
          <label
            class="form-check-label"
            :for="`rb-${elementId}-${n}`"
          >
            <span
              v-if="symbol === 'STAR'"
              class="fa-star fa-2x rating-item"
              :class="{'far': n > rating, 'fa active': n <= rating}"
            ></span>
            <strong v-else>{{ n }}</strong>
          </label>
        </div>
        <div 
          class="d-flex justify-content-center rating-label"
          :class="{'d-none': symbol === 'STAR'}"
        >
          <input
            class="form-check-input"
            type="radio"
            :name="elementId"
            :id="`rb-${elementId}-${n}`"
            v-model.number="rating"
            :value="n"
            :disabled="disabled"
            @change="ratingValueChange"
          >
        </div>
      </div>
    </div>
    <div v-if="showLabel" class="col-auto d-flex align-items-center">
      {{ endLabel }}
    </div>
  </div>
</template>

<script src="./RatingInput.ts" lang="ts"></script>
<style src="./RatingInput.scss" lang="scss" scoped></style>
