<template>
  <div class="card question-show mb-3" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-3">{{ index + 1 }}. {{ question?.questionBody.text }}</h5>
      <div class="bd-content mb-2">
        <div class="input-group mt-0">
          <input :type="question?.questionBody.isTime ? 'time' : 'date'"
            class="form-control"
            readonly
          >
          <span class="input-group-text text-nt">
            <span class="far" :class="question?.questionBody.isTime ? 'fa-clock' : 'fa-calendar-alt'"></span>
          </span>
        </div>
        <div v-if="question?.required" class="mt-2">
          <span class="text-danger">* จำเป็นต้องตอบ</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./DatetimeShow.ts" lang="ts"></script>
<style src="./DatetimeShow.scss" lang="scss" scoped></style>