<template>
  <modal-component ref="previewModal" :fullscreen="true">
    <template v-slot:title>
      <span class="far fa-eye"></span> ตัวอย่างแบบสอบถาม
    </template>
    <template v-slot:default>
      Preview
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
    </template>
  </modal-component>
</template>

<script src="./Preview.ts" lang="ts"></script>
<style src="./Preview.scss" lang="scss" scoped></style>