<template>
  <div v-if="questions.length > 0" class="mb-3">
    <component
      :key="index"
      v-for="(question, index) in questions"
      :is="questionComponent(question.questionType)"
      :question="question"
      :index="index"
    ></component>
  </div>
</template>

<script src="./QuestionList.ts" lang="ts"></script>
<style src="./QuestionList.scss" lang="scss" scoped></style>
