.expand {
  transition: width 1s;

  .item {
      display: none !important;

    &.show {
      display: block !important;
    }
  }
}
 
.toggle-switch {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}

.expand-swich {
  padding-top: 3px;
  padding-bottom: 3px;
}

.question-type {
  width: 100px;
}

.text-nt {
  color: #53595f;
}
