<template>
  <div class="btn btn-warning">
    <div class="row expand g-1">
      <div
        class="col-auto d-flex align-items-center toggle-switch"
        :class="{'pe-2': toggle, 'expand-swich': toggle}"
        @click="toggleClick"
      >
        <span class="fa" :class="{'fa-plus': !toggle, 'fa-plus-circle fa-2x': toggle}"></span>
        <span class="ms-2 item" :class="{'show': !toggle}">เพิ่มข้อคำถาม</span>
      </div>
      <div
        :key="questionType.value"
        v-for="questionType in questionTypes"
        class="col-auto d-flex align-items-center item"
        :class="{'show': toggle}"
      >
        <button
          class="btn btn-light question-type d-none d-md-block"
          @click="selectedClick(questionType.value)"
        >
          <span class="me-1" :class="questionType.icon"></span> {{ questionType.name }}
        </button>
        <button
          class="btn btn-light d-block d-md-none"
          @click="selectedClick(questionType.value)"
        >
          <span :class="questionType.icon"></span>
        </button>
      </div>
    </div>
  </div>
</template>

<script src="./QuestionButton.ts" lang="ts"></script>
<style src="./QuestionButton.scss" lang="scss" scoped></style>
