<template>
  <teleport to="body">
    <div
      :id="elementId"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable"
        :class="{
          'modal-sm': size === 'modal-sm',
          'modal-lg': size === 'modal-lg',
          'modal-xl': size === 'modal-xl',
          'modal-fullscreen': fullscreen
        }"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <slot name="title"></slot>
            </h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              @click="hideModal"
            ></button>
          </div>
          <div class="modal-body">
            <slot></slot>
          </div>
          <div class="modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script src="./Modal.ts" lang="ts"></script>
<style src="./Modal.scss" lang="scss" scoped></style>
