<template>
  <div class="card" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-4">
        {{ display.title }}
      </h5>
      <p class="bd-lead text-secondary" v-html="display.description"></p>
      <div class="bd-content mt-4 mb-2">
        <div class="row g-4">
          <div class="col-md-6">
            <div class="d-block">
              <strong class="d-block mb-0">วันที่เริ่มต้นการเก็บข้อมูล:</strong>
              <span class="text-secondary">{{ display.releaseAt }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-block">
              <strong class="d-block mb-0">วันที่สิ้นสุดการเก็บข้อมูล:</strong>
              <span class="text-secondary">{{ display.dueAt }}</span>
            </div>
          </div>
          <div class="col-12">
            <strong class="me-2">
              สถานะ:
            </strong>
            <span v-html="display.status"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./QuestionnaireShow.ts" lang="ts"></script>
<style src="./QuestionnaireShow.scss" lang="scss" scoped></style>
