.card-form {
  height: 180px;
  transition: transform .2s;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);

  &:hover {
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.275);

    .card-menu-icon {
      display: block;
    }
  }

  .form-image {
    height: 80px;
    background-color: #ffc107;
    background-repeat: repeat;
  }

  .form-image-bg-1 {
    background-image: url('~@/assets/images/bg-form-1.png');
  }

  .form-image-bg-2 {
    background-image: url('~@/assets/images/bg-form-2.png');
  }

  .form-image-bg-3 {
    background-image: url('~@/assets/images/bg-form-3.png');
  }

  .form-image-bg-4 {
    background-image: url('~@/assets/images/bg-form-4.png');
  }

  .form-image-bg-5 {
    background-image: url('~@/assets/images/bg-form-5.png');
  }

  .form-image-bg-6 {
    background-image: url('~@/assets/images/bg-form-6.png');
  }

  .form-image-bg-7 {
    background-image: url('~@/assets/images/bg-form-7.png');
  }

  .form-image-bg-8 {
    background-image: url('~@/assets/images/bg-form-8.png');
  }

  .form-image-bg-9 {
    background-image: url('~@/assets/images/bg-form-9.png');
  }

  .form-title {
    background-color: #ffc107;
    box-shadow: rgba(255, 193, 7, 0.95) 0px 0px 5px;
  }

  .card-text {
    font-size: small;
  }

  .card-menu {
    width: 30px;
    color: #53595f;

    &:hover {
      background-color: #b9c5cb;
    }
  }

  .card-menu-icon {
    display: none;
  }
}

.card-empty {
  height: 180px;
  background: none;
  border: 2px dashed #aaa;
}

.title-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu {
  > li {
    padding: 2px 0px;

    &.divider {
      padding: 0;
    } 
  }

  .dropdown-item {
    color: #53595f;
  }
}

