<template>
  <!-- Search -->
  <div class="row g-2 justify-content-start mt-4 mb-3">
    <div class="col-auto">
      <select v-model="filter.category" class="form-select w-auto">
        <option :key="index" v-for="(name, index) in category">
          {{ name }}
        </option>
      </select>
    </div>
    <div class="col-sm-6 col-xs-4">
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="ค้นหาชื่อเรื่อง..."
        aria-label="Search"
        autocomplete="off"
        v-model.trim="filter.keyword"
      />
    </div>
  </div>
  <!-- Item List -->
  <div class="row g-3 mb-4">
    <!-- Empty -->
    <div
      v-if="display.length === 0"
      class="col-12 col-sm-6 col-md-6 col-lg-3"
    >
      <div class="card card-empty">
        <div class="card-body h-100 d-flex justify-content-center align-items-center text-danger">
          <span class="fa fa-exclamation-triangle"></span> ไม่พบข้อมูล
        </div>
      </div>
    </div>
    <!-- Data -->
    <div
      v-else
      :key="form.id"
      v-for="form in display"
      class="col-12 col-sm-6 col-md-6 col-lg-3"
    >
      <div class="card card-form"
        @click="selectedForm(form.id)"
        :title="form.title"
      >
        <div
          class="form-image d-flex justify-content-center align-items-center px-3"
          :class="formImageBg(form.id)"
        >
          <span class="far fa-file-alt fa-2x form-title p-1"></span>
          <h5 class="mb-0" v-html="form.status"></h5>
        </div>
        <div class="card-body">
          <div class="card-title title-wrap">{{ form.title }}</div>
          <div class="d-flex justify-content-start">
            <div class="row me-auto">
              <div>
                <div class="card-text text-muted mb-1">เริ่ม: {{ form.releaseAt }}</div>
                <div class="card-text text-muted">สิ้นสุด: {{ form.dueAt }}</div>
              </div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center card-menu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              :id="form.id"
              @click.stop.prevent=""
            >
              <span class="fa fa-ellipsis-v card-menu-icon"></span>
            </div>
            <ul class="dropdown-menu" :aria-labelledby="form.id">
              <li>
                <button
                  class="dropdown-item"
                  @click.stop.prevent="newBrowserClick(form.id)"
                >
                  <span class="far fa-window-restore me-1"></span> เปิดในหน้าต่างใหม่
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item"
                  @click.stop.prevent="deleteClick(form.id)"
                >
                  <span class="far fa-trash-alt me-2"></span> ลบแบบสอบถาม
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginate -->
  <paginate-component
    :pageSize="page.size"
    :amount="filter.amount"
    :total="filter.total"
    @currentPageChange="selectedPage"
  />
</template>

<script src="./QuestionnaireList.ts" lang="ts"></script>
<style src="./QuestionnaireList.scss" lang="scss" scoped></style>