.dropdown {
  a {
    text-decoration: none;
    
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(255,255,255,.2);
      background-color: #fff;
      margin-right: 8px;
    }
  }
}

.dropdown-menu {
  &.show {
    top: 47px;
  }

  > li {
    padding: 2px 0px;

    &.divider {
      padding: 0;
    } 
  }
}

.text-nt {
  color: #53595f;
}
