<template>
  <header>
    <!-- Alert -->
    <div
      v-if="!passwordChanged"
      class="alert alert-warning alert-dismissible fade show fixed-top d-flex align-items-center"
      role="alert"
    >
      <div class="container">
        <span class="fa fa-exclamation-triangle flex-shrink-0 me-2"></span>
        <strong class="me-2">คำเตือน!</strong>ท่านกำลังใช้งานรหัสผ่านที่เป็นค่าเริ่มต้นของระบบ เพื่อความปลอดภัยกรุณาตั้งค่ารหัสผ่านของท่านใหม่อีกครั้ง
        <a href="#" class="alert-link ms-2" @click.stop.prevent="changePasswordClick">
          เปลี่ยนรหัสผ่าน
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" style="padding-top: 3px; padding-bottom: 3px;">
      <div class="container">
        <router-link class="navbar-brand" to="/">
          <slot></slot>
        </router-link>
        <div>
          <div class="dropdown navbar-text d-flex align-items-center">
            <a
              class="dropdown-toggle"
              id="dropdownMenu"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
            >
              <img src="../../assets/images/user.png" class="avatar" alt="user avatar">
              <span>{{ profile?.firstName }}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li>
                <button class="dropdown-item text-nt" @click="profileClick">
                  <span class="fa fa-user me-2"></span> ข้อมูลผู้ใช้งาน
                </button>
              </li>
              <li>
                <button class="dropdown-item text-nt" @click="changePasswordClick">
                  <span class="fa fa-lock me-2"></span> เปลี่ยนรหัสผ่าน
                </button>
              </li>
              <li class="divider"><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item text-nt" @click="logoutClick">
                  <span class="fa fa-sign-out-alt me-2"></span> ออกจากระบบ
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container justify-content-between">
        <div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            :class="{'disabled': isHome, 'd-none': isHome}"
            @click.stop.prevent="$router.go(-1)"
          >
            <span class="fa fa-chevron-left"></span> ถอยกลับ
          </button>
        </div>
        <breadcrumb-component />
      </div>
    </div>
  </header>

  <!-- Modal -->
  <profile-component ref="profileModal" @edit="profileFormOpen" />
  <profile-form-component ref="profileFormModal" />
  <password-form-component ref="passwordFormModal" />
</template>

<script src="./Header.ts" lang="ts"></script>
<style src="./Header.scss" lang="scss" scoped></style>
