<template>
  <div class="card question-show mb-3" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-3">{{ index + 1 }}. {{ question?.questionBody.text }}</h5>
      <div class="bd-content mb-2">
        <textarea 
          v-if="question?.questionBody.isTextArea"
          class="form-control"
          placeholder="ข้อความคำตอบแบบยาว"
          rows="3"
          readonly
        ></textarea>
        <input type="text"
          v-else
          class="form-control"
          placeholder="ข้อความคำตอบสั้น ๆ"
          readonly
        >
        <div v-if="question?.required" class="mt-2">
          <span class="text-danger">* จำเป็นต้องตอบ</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./TextboxShow.ts" lang="ts"></script>
<style src="./TextboxShow.scss" lang="scss" scoped></style>