<template>
  <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="sk-pulse"></div>
  </div>
</template>

<script src="./Loading.ts" lang="ts"></script>
<style src="./Loading.scss" lang="scss" scoped></style>