<template>
  <div class="card question-show mb-3" @click="toggleClick">
    <div class="card-body">
      <h5 class="card-title mt-2 mb-3">{{ index + 1 }}. {{ question?.questionBody.text }}</h5>
      <div class="bd-content mb-2">
        <div class="table-responsive">
          <table class="table bg-hover mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 20%;">&nbsp;</th>
                <th
                  scope="col"
                  class="text-center align-middle px-2 py-3"
                  :key="index"
                  v-for="(column, index) in question?.questionBody.columns"
                  :style="columnWidth"
                >
                  {{ column }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                :key="index"
                v-for="(row, index) in question?.questionBody.rows"
              >
                <th scope="row" class="px-2 py-3">
                  {{ row }}
                </th>
                <td
                  :key="index"
                  v-for="(column, index) in question?.questionBody.columns"
                  class="text-center align-middle px-2 py-3"
                >
                  <input
                    v-if="question?.questionBody.isCheckBox"
                    class="form-check-input"
                    type="checkbox"
                    readonly
                  >
                  <input
                    v-else
                    class="form-check-input"
                    type="radio"
                    readonly
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <div v-if="question?.required" class="mt-2">
            <span class="text-danger">* จำเป็นต้องตอบ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./LikertShow.ts" lang="ts"></script>
<style src="./LikertShow.scss" lang="scss" scoped></style>