<template>
  <modal-component ref="sendModal">
    <template v-slot:title>
      <span class="fa fa-paper-plane"></span> ส่งแบบสอบถาม
    </template>
    <template v-slot:default>
      <div class="px-2">
        <div class="row mb-3">
          <div class="col-auto">
            <div class="qr-code">
              <qrcode-vue
                :value="surveyUrl"
                :size="150"
                level="H"
              />
            </div>
          </div>
          <div class="col">
            <span class="text-muted">ผู้ตอบแบบสอบถามสามารถสแกนรหัสคิวอาร์ บนโทรศัพท์หรือแท็บเล็ตเพื่อเข้าถึงแบบสอบถาม</span>
            <div class="d-flex justify-content-center mt-3">
              <button
                class="btn btn-warning"
                type="button"
                @click="downloadClick"
              >
                <span class="fa fa-file-download"></span> ดาวน์โหลด
              </button>
            </div>
          </div>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            :value="surveyUrl"
            readonly
          >
          <button
            class="btn btn-warning"
            type="button"
            @click="copyClick"
          >
            <span class="fa fa-copy"></span> คัดลอก
          </button>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
    </template>
  </modal-component>
</template>

<script src="./Send.ts" lang="ts"></script>
<style src="./Send.scss" lang="scss" scoped></style>