<template>
  <modal-component
    ref="passwordModal"
    backdrop="static"
    @hide="clearForm"
  >
    <template v-slot:title>
      <span class="fa fa-user-lock"></span> เปลี่ยนรหัสผ่าน
    </template>
    <template v-slot:default>
      <div class="px-3">
        <!-- old password -->
        <div class="mb-3">
          <label
            for="oldPassword"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.oldPassword}"
          >
            รหัสผ่านเดิม:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.oldPassword"
          >
            * กรุณาป้อนรหัสผ่านเดิม
          </div>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="password"
              id="oldPassword"
              v-model.trim="formData.oldPassword"
              class="form-control"
              placeholder="กรุณาป้อนรหัสผ่านเดิม..."
              aria-label="oldPassword"
              autocomplete="off"
              :class="{'is-invalid': submited && errors.oldPassword}"
              @change="clearSubmit"
            />
          </div>
        </div>
        <!-- new password -->
        <div class="mb-3">
          <label
            for="password"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.password}"
          >
            รหัสผ่านใหม่:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.password"
          >
            * กรุณาป้อนรหัสผ่านใหม่
          </div>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="password"
              id="password"
              v-model.trim="formData.password"
              class="form-control"
              placeholder="กรุณาป้อนรหัสผ่านใหม่..."
              aria-label="password"
              autocomplete="off"
              :class="{'is-invalid': submited && errors.password}"
              @change="clearSubmit"
            />
          </div>
        </div>
        <!-- confirm password -->
        <div>
          <label
            for="confirmPassword"
            class="form-label text-muted"
            :class="{'is-invalid': submited && errors.confirmPassword}"
          >
            ยืนยันรหัสผ่านใหม่:
          </label>
          <div
            class="invalid-feedback d-inline"
            role="alert"
            v-if="submited && errors.confirmPassword"
          >
            * ยืนยันรหัสผ่านต้องเป็นรหัสเดียวกับรหัสผ่านใหม่
          </div>
          <div class="input-group mb-2 mt-0">
            <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
            <input
              type="password"
              id="confirmPassword"
              v-model.trim="formData.confirmPassword"
              class="form-control"
              placeholder="กรุณาป้อนยืนยันรหัสผ่าน..."
              aria-label="confirmPassword"
              autocomplete="off"
              :class="{'is-invalid': submited && errors.confirmPassword}"
              @change="clearSubmit"
            />
          </div>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="isLoading"
        @click="hideModal"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button
        type="button"
        class="btn btn-warning"
        :disabled="isLoading"
        @click="submitClick"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </template>
  </modal-component>
</template>

<script src="./PasswordForm.ts" lang="ts"></script>
<style src="./PasswordForm.scss" lang="scss" scoped></style>