<template>
  <component
    :is="questionnaireComponent"
    @toggle="toggleClick"
  >
  </component>
</template>

<script src="./QuestionnaireTab.ts" lang="ts"></script>
<style src="./QuestionnaireTab.scss" lang="scss" scoped></style>