<template>
  <div class="wrapper">
    <div class="container">
      <div class="card shadow-sm">
        <div class="card-header">
          <span class="fa fa-user-friends me-2"></span><strong>รายชื่อผู้ใช้งาน</strong>
        </div>
        <div class="card-body">
          <loading-component v-if="isLoading || !success" />
          <user-table-component v-else />
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./User.ts" lang="ts"></script>
<style  src="./User.scss" lang="scss" scoped></style>