<template>
  <div class="welcome-body">
    <div class="container">
      <h5>คุณต้องการดำเนินการเรื่องใด ?</h5>
      <div class="row row-cols-auto mt-3">

        <!-- new form -->
        <div class="col" v-if="isUser">
          <div class="action-button text-center d-none d-sm-block" @click="newFormClick">
            <div class="card shadow-sm mb-3 py-3">
              <div class="card-body text-center">
                <span class="fa fa-plus fa-3x"></span>
              </div>
            </div>
            สร้างแบบสอบถาม
          </div>
          <button class="btn btn-warning d-block d-sm-none mt-2" @click="newFormClick">
            <span class="fa fa-plus"></span> สร้างแบบสอบถาม
          </button>
        </div>

        <!-- user management -->
        <div class="col" v-if="isAdmin">
          <div class="action-button text-center d-none d-sm-block" @click="manageUserClick">
            <div class="card shadow-sm mb-3 py-3">
              <div class="card-body text-center">
                <span class="fa fa-users-cog fa-3x"></span>
              </div>
            </div>
            จัดการผู้ใช้งาน
          </div>
          <button class="btn btn-warning d-block d-sm-none mt-2" @click="manageUserClick">
            <span class="fa fa-users-cog"></span> จัดการผู้ใช้งาน
          </button>
        </div>
      </div>
      <hr />

      <!-- Form List -->
      <div v-if="isUser">
        <h5 class="mt-3 mb-4">แบบสอบถามทั้งหมด</h5>
        <loading-component v-if="isLoading || !success" />
        <questionnaire-list-component v-else />
        <hr class="mt-4" />
      </div>
    </div>
  </div>

  <!-- Modal -->
  <questionnaire-new-component ref="newFormModal" />
</template>

<script src="./Home.ts" lang="ts"></script>
<style src="./Home.scss" lang="scss" scoped></style>
