.welcome-body {
  padding: 20px;
}

.action-button {
  display: block;
  width: 180px;
  height: 180px;
  border: 1px solid #e8f2f4;
  padding: 20px;
  
  > .card {
    border-top: 3px solid #ffffff;
  }

  &:hover {
    border: 1px solid #ffc107;
    background-color: #edebe9;
    color: #664d03;
    cursor: pointer;
    > .card {
      border-top: 3px solid #ffc107;
    }
  }
}

