<template>
  <background-component>
    <div class="container h-100 d-flex align-items-center">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-sm-8 col-xs-12">
          <div class="clearfix">
            <form @submit.prevent="submitClick">
                <div class="card shadow-sm">
                  <img src="../../assets/images/logo-fullname.png" class="card-img-top logo" alt="logo">
                  <div class="card-body px-md-5 py-md-4">
                    <!-- username -->
                    <div class="mb-3">
                      <label
                        for="username"
                        class="form-label text-muted"
                        :class="{'is-invalid': submited && errors.username}"
                      >
                        ชื่อผู้ใช้:
                      </label>
                      <div
                        class="invalid-feedback d-inline"
                        role="alert"
                        v-if="submited && errors.username"
                      >
                        * กรุณาป้อนชื่อผู้ใช้
                      </div>
                      <div class="input-group mb-2 mt-0">
                        <span class="input-group-text text-nt"><span class="fa fa-user"></span></span>
                        <input
                          type="text"
                          id="username"
                          v-model.trim="credentials.username"
                          class="form-control"
                          placeholder="กรุณาป้อนชื่อผู้ใช้..."
                          aria-label="Username"
                          autocomplete="off"
                          :class="{'is-invalid': submited && errors.username}"
                          @change="clearSubmit"
                        />
                      </div>
                    </div>
                    <!-- password -->
                    <div class="mb-4">
                      <label
                        for="password"
                        class="form-label text-muted"
                        :class="{'is-invalid': submited && errors.password}"
                      >
                        รหัสผ่าน:
                      </label>
                      <div
                        class="invalid-feedback d-inline"
                        role="alert"
                        v-if="submited && errors.password"
                      >
                        * กรุณาป้อนรหัสผ่าน
                      </div>
                      <div class="input-group mb-2">
                        <span class="input-group-text text-nt"><span class="fa fa-key"></span></span>
                        <input
                          type="password"
                          id="password"
                          v-model.trim="credentials.password"
                          class="form-control"
                          placeholder="กรุณาป้อนรหัสผ่าน..."
                          aria-label="Password"
                          autocomplete="off"
                          :class="{'is-invalid': submited && errors.password}"
                          @change="clearSubmit"
                        />
                      </div>
                    </div>
                    <div class="d-grid mb-2">
                      <button
                        type="submit"
                        class="btn btn-warning"
                        :disabled="isLoading"
                        @keyup.enter="submit"
                      >
                        <span class="fa fa-sign-in-alt"></span> เข้าสู่ระบบ
                      </button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </background-component>
</template>

<script src="./Login.ts" lang="ts"></script>
<style src="./Login.scss" lang="scss" scoped></style>