<template>
  <modal-component
    ref="formModal"
    backdrop="static"
    size="modal-lg"
    @hide="clearForm"
  >
    <template v-slot:title>
      <span class="fa fa-file-alt"></span> สร้างแบบสอบถาม
    </template>
    <template v-slot:default>
      <div class="px-3">
        <questionnaire-form
          v-model:formData="formData"
          :errors="errors"
          :submited="submited"
          @dataChanged="clearSubmit"
        />
      </div>
    </template>
    <template v-slot:footer>
      <button
        type="button"
        class="btn btn-secondary"
        @click="hideModal"
        :disabled="isLoading"
      >
        <span class="fa fa-ban"></span> ปิด
      </button>
      <button
        type="button"
        class="btn btn-warning"
        @click="submitClick"
        :disabled="isLoading"
      >
        <span class="fa fa-save"></span> บันทึก
      </button>
    </template>
  </modal-component>
</template>

<script src="./QuestionnaireNew.ts" lang="ts"></script>
<style src="./QuestionnaireNew.scss" lang="scss" scoped></style>