<template>
  <div class="wrapper">
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="context">
      <slot></slot>
    </div>
  </div>
</template>

<script src="./Background.ts" lang="ts"></script>
<style src="./Background.scss" lang="scss" scoped></style>