.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.context {
  width: 100%;
  position: absolute;
}

.area {
  background-color: #ffcb0b;
  background-image: radial-gradient(circle, #ffe69c 0%, #ffcd39 70%, #ffc107 100%);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;

    $circle-position-left: 25%, 10%, 70%, 40%, 65%, 75%, 35%, 50%, 20%, 85%;
    $circle-size: 80px, 20px, 20px, 60px, 20px, 110px, 150px, 25px, 15px, 150px;
    $circle-animation-delay: 0s, 2s, 4s, 0s, 0s, 3s, 7s, 15s, 2s, 0s;
    $circle-animation-duration: false, 12s, false, 18s, false, false, false, 45s, 35s, 11s;
    
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        left: nth($circle-position-left, $i);
        width: nth($circle-size, $i);
        height: nth($circle-size, $i);
        animation-delay: nth($circle-animation-delay, $i);
        @if not nth($circle-animation-duration, $i) {
          animation-duration: nth($circle-animation-duration, $i);
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
